*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.14' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E"); }

.information {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 20%;
  padding: 2rem;
  font-family: "Philosopher", sans-serif; }
  .information__title {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    margin-bottom: 1rem; }
    .information__title-heading {
      text-align: center;
      font-size: 6rem; }
  .information__data {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    height: 25%;
    font-size: 2rem; }
    .information__data-icon {
      font-size: 1.5rem; }
      .information__data-icon--repeat {
        float: right;
        cursor: pointer; }
        .information__data-icon--repeat::after {
          content: "";
          display: table;
          clear: both; }
    .information__data__moves {
      margin-left: 0.5rem; }

.game {
  position: absolute;
  left: 51.3%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 80%;
  padding: 3.5rem 3.5rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
  background-image: linear-gradient(to right bottom, #cca76a, #d7be7e);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.row {
  margin: 0 auto;
  height: 20%; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3.5em; }
  .row:not(:last-child) {
    margin-bottom: 3.5em; }

.col-1-of-4 {
  height: 100%;
  width: calc((100% - 3 * 3.5em) / 4); }

.card {
  width: 100%;
  height: 100%;
  background-color: mintcream;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative; }
  .card__symbol {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold; }
  .card__back {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.14' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E"); }
