*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.14' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E"); }

.information {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 30%;
  height: 10em;
  background-color: aqua;
  padding: 2em; }
  .information__title {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 4em;
    font-family: "Philosopher", sans-serif;
    margin-bottom: 1em;
    background-color: red; }
  .information__data {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    background-color: purple;
    width: 90%; }

.game {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 60em;
  background-color: peru;
  padding: 2em 3.5em; }

.row {
  background-color: palegreen;
  margin: 0 auto;
  height: 20%; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3.5em; }
  .row:not(:last-child) {
    margin-bottom: 3.5em; }

.col-1-of-4 {
  background-color: navy;
  height: 100%;
  width: calc((100% - 3 * 3.5em) / 4); }

.card {
  width: 100%;
  height: 100%;
  background-color: mintcream; }
