*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Julius Sans One', sans-serif; }

body {
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); }

@keyframes shake {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(10px, 0); }
  75% {
    transform: translate(-10px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.information {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 20%;
  padding: 2rem; }
  .information__title {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 80%;
    margin-bottom: 1rem; }
    .information__title-heading {
      text-align: center;
      font-size: 6rem; }
  .information__data {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    height: 25%;
    font-size: 3rem; }
    .information__data-stars {
      display: inline-block; }
    .information__data__moves {
      margin-left: 0.5rem; }
    .information__data__time {
      text-align: center;
      display: inline;
      position: absolute;
      left: 50%; }

.game {
  position: absolute;
  left: 51.3%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 80%;
  margin-top: 2rem;
  padding: 3.5rem 3.5rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
  background-image: linear-gradient(to right bottom, #cca76a, #d7be7e);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }

.modal {
  width: 50vh;
  height: 50vh;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10rem;
  border-radius: 1rem;
  display: none; }
  .modal__heading {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .modal__subheading {
    font-size: 2rem;
    margin-bottom: 3rem; }
  .modal__time {
    font-size: 2rem;
    margin-bottom: 13rem; }

.row {
  margin: 0 auto;
  height: 20%; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3.5em; }
  .row:not(:last-child) {
    margin-bottom: 3.5em; }

.col-1-of-4 {
  height: 100%;
  width: calc((100% - 3 * 3.5em) / 4); }

.card {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  perspective: 150rem; }
  .card__symbol {
    position: relative;
    top: 30.5%;
    left: 32.5%;
    font-size: 4rem;
    font-weight: bold;
    -webkit-background-clip: text;
    background-color: transparent;
    color: transparent; }
  .card_side {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    backface-visibility: hidden;
    transition: all .8s ease; }
    .card_side--front {
      background-color: #fdedc5; }
    .card_side--back {
      background-image: linear-gradient(to right bottom, #322c51, #9c4c74);
      font-size: 4rem;
      font-weight: bold;
      transform: rotateY(180deg);
      color: #fdedc5; }
      .card_side--back span {
        visibility: hidden; }
  .card__match {
    animation: shake 0.5s ease-out; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.75rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--purple {
  background-image: linear-gradient(to right bottom, #322c51, #9c4c74);
  color: #fdedc5;
  float: right; }
  .btn--purple::after {
    background-image: linear-gradient(to right bottom, #322c51, #9c4c74); }

.btn--coral {
  background-color: coral;
  color: #fff; }
  .btn--coral::after {
    background-color: coral; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }
