.game {
    width: 45vw;
    height: 80vh;
    margin:  auto;
    margin-top: 2rem;
    padding: 3.5rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
    @include black-gradient;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2.5rem;
}