.information {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    height: 16em;
    padding: 2em;
    font-family: "Philosopher", sans-serif;

    &__title {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%);
        font-size: 6em;
        margin-bottom: 1em;
    }

    &__data {
        position: relative;
        top: 70%;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 25%;
        font-size: 2rem;
        padding: 1rem;

        &-icon {
            font-size: 1.5rem;

            &--repeat {
                float: right;
                cursor: pointer;
                
                @include clearfix;
            }
        }
        
        &__moves {
            margin-left: 0.5rem; 
        }

        &__text {

        }
    }
}