.information {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 20%;
    padding: 2rem;
    font-family: "Philosopher", sans-serif;

    &__title {
        position: absolute;
        left: 10%;
        top: 15%;
        width: 80%;
        margin-bottom: 1rem;

        &-heading {
            text-align: center;
            font-size: 6rem;
        }
    }

    &__data {
        position: relative;
        top: 70%;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        height: 25%;
        font-size: 3rem;

        &-icon {
            font-size: 2rem;

            &--repeat {
                float: right;
                cursor: pointer;
                
                @include clearfix;
            }
        }
        
        &__moves {
            margin-left: 0.5rem; 
        }

        &__time {
            text-align: center;
            display: inline;
            position: absolute;
            left: 50%;
        }
    }
}