.modal {
    width: 50vh;
    height: 50vh;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10rem;
    border-radius: 1rem;
    display: none;

    &__heading {
        font-size: 6rem;
        margin-bottom: 3rem;
    }

    &__subheading {
        font-size: 3rem;
        margin-bottom: 3rem;        
    }

    &__time {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
}