.modal {
    width: 50vh;
    height: 50vh;
    @include black-gradient;
    color: $color-yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10rem;
    border-radius: 1rem;
    perspective: 150rem;
    display: none;

    &__heading {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    &__subheading {
        font-size: 2rem;
        margin-bottom: 3rem;        
    }

    &__time {
        font-size: 2rem;
        margin-bottom: 13rem;
    }
}