.btn {
  &,
  &:link, 
  &:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.75rem;
//   float: right;

  //change for <button> element
  border: none;
  cursor: pointer;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 10px 2rem rgba(0, 0, 0,.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
  }

  &--purple {
    background-image: linear-gradient(to right bottom, #322c51, #9c4c74);
    color: #fdedc5;
    float: right;

    &::after {
        background-image: linear-gradient(to right bottom, #322c51, #9c4c74);
    }
  }

  &--coral {
    background-color: coral;
    color: #fff;

    &::after {
      background-color: coral;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}