.row {
    margin: 0 auto;
    height: 20%;

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter;
        }
    }
    
    &:not(:last-child) {
        margin-bottom: $gutter;
    }
}

.col-1-of-4 {
    height: 100%;
    width: calc((100% - 3 * #{$gutter}) / 4);
}
